<h1>Products#index</h1>

<div class="welcome"> Welcome </div>

<div>
<%= link_to "Create New Product", new_product_path %>
</div>

<div class="filter"> Filter </div>

<table class="product-align">
  <tbody>
    <% @product.each do |product|%>
      <td>
        <div class="product-image">Image</div> 
        <br>
        <%= link_to product.name, product_path(product) %>
        <ul>
        <li>RM <%= product.price%></li>
        <li><%#= product.description%></li>
        </ul>
       </td>
    <%end%>
  </tbody>
</table>