<h1>Products#new</h1>
<%= form_for @product do |form|%>
  <%= render partial: "products/form", object:form %>
  <%= form.submit "Submit", data: { confirm:"Create New Product?"}, class: "btn btn-success"%>
<%end%>